<!-- Start banner Area -->
<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">

                    <h1 class="text-white">Success!</h1>

                    <p class="text-white">The transaction has been created.</p>                    

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
