


<section class="convert-area" id="convert">
    <div class="container">
        <div class="convert-wrap">
            <div class="row justify-content-center align-items-center flex-column pb-30">
                <h1 class="text-white">The Currency Converter</h1>
                <p class="text-white">Who are in extremely love with eco friendly system.</p>
            </div>
            <div class="row justify-content-center align-items-start">
                <div class="col-lg-2 cols-img">
                    <img class="d-block mx-auto" src="img/bitcoin.png" alt="">
                </div>
                <div class="col-lg-3 cols">
                    <input type="text" name="feet" placeholder="feet" class="form-control mb-20">
                    <input type="text" name="pounds" placeholder="pounds" class="form-control mb-20">
                </div>
                <div class="col-lg-3 cols">
                    <input type="text" name="feet" placeholder="inches" class="form-control mb-20">
                    <input type="text" name="pounds" placeholder="pounds" class="form-control mb-20">
                    <a href="#" class="primary-btn header-btn text-uppercase mb-20">Calculate Your BMI</a>
                </div>
            </div>
        </div>
    </div>
</section>