
<!-- Start banner Area -->
<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">

                    <h2 class="text-white">Congratulations, you are logged in as an Admin user.</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->