@model Bank.ViewModels.StatisticsViewModel
@{
        ViewData["Title"] = "Home Page";
    }

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">

                    <h2 class="text-white">Statistics</h2>

                    <label>Total number of customers</label>
                    <p class="text-white">@Model.TotalAmountCustomers</p>
                    <label>Total number of accounts</label>
                    <p class="text-white">@Model.TotalAmountAccounts</p>
                    <label>Total balance on all accounts</label>
                    <p class="text-white">@Model.TotalAmountBalance kr</p>

                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_SearchView" model="@Model.CustomerId" />